@use '../styles/partials/variables' as *;
html {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

ul,
ol,
menu {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

figure>img {
    display: block;
    width: 100%;
}

// layout 
.container-fluid{
    max-width: 100%;

}
.container{
    max-width: 992px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col{
    flex-basis: auto;
}
.col-12{
    flex-basis: 100%;
}
.col-4{
    flex-basis: calc(100% / 12)* 4;
}
.col-6 {
    flex-basis: 50%;
}
// utility
.flex{
    display: flex;
}
.flex-end{
  justify-content: flex-end;
}
// BUTTON
.button{
    font-size: 13px;
    text-transform: uppercase;
    line-height: 20px;
    background-color: $white;
    color: $black;
    padding: 15px;

}
// text 
.subtitle{
    font-size: $subtitle;
    font-weight: 100;
    text-transform: uppercase;
}
.title-maxi{
    font-size: $TITLE;
    text-transform: uppercase;
    font-weight: 700;
}
.title{
    font-size: 46px;
    text-transform: uppercase;
    font-weight: 700;
}
.text-al-center{
    text-align: center;
}